/INET/
/INET.EXAMPLES.CLIENT/
/INET.EXAMPLES.CLIENT.UNITY/Library/
/INET.EXAMPLES.CLIENT.UNITY/Logs/
/INET.EXAMPLES.CLIENT.UNITY/obj/
/INET.EXAMPLES.CLIENT.UNITY/Packages/
/INET.EXAMPLES.CLIENT.UNITY/ProjectSettings/
/INET.EXAMPLES.CLIENT.UNITY/Temp/
/INET.EXAMPLES.CLIENT.UNITY/.vs/
INET.EXAMPLES.CLIENT.UNITY/.vsconfig
INET.EXAMPLES.CLIENT.UNITY/Assembly-CSharp.csproj
*.meta
INET.EXAMPLES.CLIENT.UNITY/UnityEditor.UI.csproj
INET.EXAMPLES.CLIENT.UNITY/UnityEngine.UI.csproj
INET.EXAMPLES.SERVER/App.config
INET.EXAMPLES.SERVER/obj/
INET.EXAMPLES.SERVER/bin/
